
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#262623"
    },
    "button": {
      "background": "#95C92C"
    }
  },
  "position": "bottom-right",
  //"static": false,
  "content": {
    "message": "Ce site utilise des cookies pour garantir que vous ayez la meilleur expérience d'utilisation.",
    "dismiss": "J'ai compris",
    "link": "En savoir plus sur le cookies",
    "href": "/mentions-legales/#cookies"
  }
})});
</script>