<footer id="footer">
  
  <section>
    <h4>Navigation</h4>
    <nav>
      <ul>
        <li><a class="back-to-top" href="#header">Revenir en haut de la page</a></li>
        {% comment %}
        Sitemap
        Les pages qui e possèdent pas de permaliens dont exclus,
        cela permet notememnt de filter les sections
        {% endcomment %}
        {% for page in site.pages %}
        {% if page.permalink %}
        <li><a href="{{page.permalink}}">{{page.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </section>

  <section>
    <h4>{{site.title | escape}}</h4>
    <address>
      {{site.adresse}}<br>
      <a href="tel:{{site.phone.contact}}">Tél. {{site.phone.contact}}</a>
    </address>
    <a href="mailto:{{site.emails.contact}}">Nous écrire</a>
  </section>

  <section>
    <h4>Avec l'aimable soutien de</h4>
    <a href=""><img src="/assets/images/logo-le-vaudreuil.jpg" alt=""></a>
    <a href=""><img src="/assets/images/logo-seine-eure.jpg" alt=""></a>
    <a href=""><img src="/assets/images/logo-francebleu-normandie.jpg" alt=""></a>
    <nav class="navigation navigation-mobile" id="navigation-mobile">
      {% include navigation/links.html %}
      <a href="#header" class="navigation-mobile-close">Revenir à la page</a>
    </nav>
  </section>

  <p class="credits">
    {{site.title}} © {{ site.time | date: '%Y' }}
  </p>

</footer>
