@charset "utf-8";

// Define defaults for each variable.
$base-font-family: "Verdana", Helvetica, Arial, sans-serif !default;
$base-font-size:   1.2em !default;
$base-font-weight: 100 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$heading-font-family: "Abril Fatface", cursive;
$heading-font-size: 3rem !default;
$heading-font-weight: normal;
$heading-small-size: $heading-font-size * 0.875 !default;
$heading-line-height: 1 !default;

$lead-font-family: "Playfair Display", cursive;
$lead-font-size: $base-font-size * 1;
$lead-font-weight: $base-font-weight;
$lead-font-style: italic;

$spacing-unit:     1.875rem !default;

// Colors
$text-color:       #141412 !default;
$background-color: #fdfdfd !default;
$brand-color:      #7FC7BD !default;

$grey-color:       #A1ACAD !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    50rem !default;

$on-palm:          600px !default;
$on-laptop:        50rem !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
