/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
  //max-width: $content-width;

  min-height: $spacing-unit * 1.865;
  margin: auto;
  padding: 1em 0;
}

.site-title {
  float: left;

  margin-bottom: 0;

  letter-spacing: -1px;

  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;

  @include relative-font-size(1.625);

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;

    text-align: right;

    border: 1px solid $grey-color-light;
    border-radius: 5px;
    background-color: $background-color;

    label[for="nav-trigger"] {
      z-index: 2;

      display: block;
      float: right;

      width: 36px;
      height: 36px;

      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;

      width: 36px;
      height: 26px;
      padding-top: 10px;

      text-align: center;

      line-height: 0;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      display: none;
      clear: both;
    }

    input:checked ~ .trigger {
      display: block;

      padding-bottom: 5px;
    }

    .page-link {
      display: block;

      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  //line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    position: relative;

    display: inline-block;

    text-align: center;
    text-transform: uppercase;

    color: $text-color;

    font-family: "Playfair Display", cursive;
    font-size: 1em;
    font-weight: bold;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &.is-active {
      color: $brand-color;
    }

    .page-link-desc {
      display: block;

      color: lighten($text-color, 50%);

      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      font-size: .6em;
      font-weight: normal;
      //text-transform: none;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;

      width: 0%;
      height: 0;

      content: "";
      transition: all 200ms ease-in-out;
      transform: translate3d(-50%,-50%,0);

      background: $grey-color-light;
    }

  }

  .page-link:hover {
    text-decoration: none;

    &:after {
      width: 80%;
      height: .8em;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  position: relative;

  display: flex;
  justify-content: space-around;

  padding: $spacing-unit 0;

  border-top: 1px solid $grey-color-light;

  @include media-query($on-laptop) {
    flex-direction: row;
  }
  @include media-query($on-palm) {
    flex-direction: column;

    text-align: center;
  }

  ul {
    margin: 0;

    list-style: none;
  }

  li {
    display: inline-block;

    margin: 0 ($spacing-unit / 4);
  }
}

.footer-links {
  color: $grey-color;

  font-family: $heading-font-family;
}
.footer-legals {

  a {
    text-transform: uppercase;

    color: $grey-color;

    @include relative-font-size(0.5);
  }

}

.back-to-top {
  position: absolute;
  top:-.8em;
  left: 50%;

  width: 1.5em;
  height: 1.5em;

  transition: all 200ms ease-in-out;
  transform: translateX(-50%);
  text-indent: -9999px;

  border:1px solid $grey-color-light;
  border-radius: 50%;
  background: #fff;

  &:after {
    display: block;

    width: 0;
    height: 0;
    margin-top: -.9em;
    margin-right: auto;
    margin-left: auto;

    content: "";
    transition: all 200ms ease-in-out;

    border-right: .4em solid transparent;
    border-bottom: .4em solid $grey-color;
    border-left: .4em solid transparent;
  }
}
.back-to-top:hover {
  border-color: $text-color;
  background: $text-color;

  &:after {
    border-bottom-color: $background-color;
  }
}


.contact-list,
.social-media-list {
  margin-left: 0;

  list-style: none;
}

.footer-col-wrapper {
  margin-left: -$spacing-unit / 2;

  color: $grey-color;

  @include relative-font-size(0.9375);
  @extend %clearfix;
}

.footer-col {
  float: left;

  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;

    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

  p:not(.subtitle):first-of-type > p {
    font-family: $lead-font-family;
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
    font-style: $lead-font-style;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;

  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;

  font-size: $small-font-size;
}

.post-link {
  display: block;

  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;

  line-height: 1;

  @include relative-font-size(2.625);
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
