/**
 * Définition du style de base
 */

/** Élements typographiques **/
body {
  margin: 0;
  padding: 0;
  font: $base-font-weight #{pixrem($base-font-size)}/#{$base-line-height} $base-font-family;
  color: $text-color;
}

a:link { color: $link-color; }
a:visited { color: $link-visited-color; }
a:hover { color: $link-hover-color;}
a:focus { color: $focus-color;}
a:active { color: $active-color;}

// Leading style
.page-home > p:first-of-type,
.page-exposants > p:first-of-type {
  font: $lead-font-style #{pixem($lead-font-size)}/#{$lead-line-height} $lead-font-family;
}



/** Entêtes **/
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: $spacing-small;

  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

h1 {
  font-size: pixem($xxlarge-font-size);
}

h2 {
  font-size: pixem($xlarge-font-size);
}

h3 {
  font-size: pixem($large-font-size);
}

h1 + h2,
h2 + h3 {
  margin-top: -$spacing-small;

  font-family: $base-font-family;
  font-size: pixem($base-font-size * 0.9); // Ajustement pour le uppercase
  text-transform: uppercase;

  color: $text-muted-color;

  &::after {
    display: block;
    width: 5rem;
    margin-top: 1em;

    border-bottom: 3px solid $color-main;

    content: "";
  }
}


/** Espaces blancs **/
p, ul, ol { margin-bottom: $spacing; }
section { margin-bottom: $spacing * 2; }

/** Medias **/
figure { margin: 0; }

img {
  display: inline-block;
  max-width: 100%;
}

/** Boutons **/
.button {
  display: inline-block;
  border:4px solid $color-main;
  padding: $spacing-small;
  
  color: $color-main !important; 
  text-decoration: none;
  letter-spacing: 1px;
  &:hover {
    background: $color-main;
    color: $color-light !important;
  }
}

/** Header **/
.header {
  &-title { margin-bottom: $spacing; }
  &-navigation {
    .navigation-link {
      font-size: pixem($large-font-size);
      small { font-size: pixem($xxsmall-font-size); }
    }
  }
}

/** Navigation **/
nav ul {
    padding: 0;
    list-style: none;
}

.navigation {
  margin-top: $spacing;

  &-inline ul li { display: inline; }
  &-icon {
    text-align: right;
  }

  &-links {
    display: inline;

    small {
      display: block;
    }
  }

  &-link {
    display: block;
    margin: 0 0 $spacing / 3 0;

    text-align: center;
    font-family: $heading-font-family;
    font-size: pixem($xlarge-font-size);
    line-height: 1.1em;
    text-decoration: none;

    &:link,
    &:visited { color: $text-color; }

    &:hover { color: $link-hover-color;}
    &:focus { color: $focus-color;}
    &:active { color: $active-color;}

    small {
      font-family: $base-font-family;
      font-size: pixrem($small-font-size);
      color: $text-muted-color !important;
    }
  }
}

.navigation-mobile {
  // Mobile first
  position: relative;
  height: 100vh;
  padding: $spacing-large 0;
  // box-sizing: border-box;
  overflow: hidden; // forcer l'espacement bas

  // END Mobile first
  &-close {
    position: absolute;
    font-size: pixem($small-font-size);
    top: 1em;
    right: 0;
  }
}
#large-cover {

  padding-top: 15vh;
  padding-bottom: 15vh;
  
  background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.8)),  url(images/visuel-2018.jpg);
  background-size: cover;
  background-position:top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;

  box-shadow: 0 -10px 20px $color-dark inset;

  color: $color-light;

  .large-cover__content {
    @extend .wrapper-fluid;
    @include cf();
    text-align: center;
  }
  .date {
    margin-top:2em;
   text-align: center;
    span {
      padding: .5em;
      font-size: 2em;
      background: $color-darkest;
      display: inline-block;
    }
  }
}
/** Footer **/
#footer {
  font-size: $small-font-size;
  color: $text-muted-color;

  a, a:link, a:visited { color: $text-color; }
  a:hover { color: $text-color-dark; }

  .credits { text-align: center; }

}

/** Page Exposants **/
.exposants-list ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: $spacing-small;

    font-family: $base-font-family;
    font-size: pixem($xsmall-font-size * 0.9); // Ajustement pour le uppercase
    text-transform: uppercase;

    color: $text-muted-color;

    strong {
      font-family: $heading-font-family;
      font-weight: normal;
      font-size: pixrem($base-font-size);
      text-transform: none;

      color: $text-color;
    }

  }
}

.callout {
  padding: 2em;
  box-shadow: 0 0 40px  rgba(0,0,0,.1);
  color: $color-muted ;
}

#section-inscription {
  background-color: $color-main;
  box-sizing: border-box;
  color: $color-light;

  .button {
      
    color: $color-light !important;
    border-color: $color-light;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
      background: $color-light;
      color: $color-main !important;
    }
  }

  /** Écrans laptop **/
  @media screen and (min-width: pixrem($device-laptop)) {
    
    margin-top: -5em;
  }
}

/** Liste d'animations **/
.animations { @extend .exposants-list; }
