/**
 * Déclaration du layout
 *
 */

/** Mobile first **/
/* .column-2-6 {
  @extend .column;
  @include column(1, 3);
}
.column-4-6 {
  @extend .column;
  @include column(2, 3);
}
 */

/** Déclaration des conteneurs **/
.wrapper { @include wrapper(); }
#header,
#main,
#footer
{
  @extend .wrapper;
  @include cf();
}

/** Déclaration des colonnes **/
.column { @include column(); }
.header-title,
.header-navigation,
.navigation-link,
.navigation-icon,
.home-section,
#footer section { @extend .column; }

/** Mobile first **/
.header-title { @include column(3, 4); }
.navigation-icon { @include column(1, 4); }

// Affichage de la navigation mobile, masuqerla navigation standard
.navigation {
  display: none;
  &-mobile { display: block; }
}

/** Petits écrans **/
@media screen and (min-width: pixrem($device-tablet)) {

  /** Conteneurs **/
  #main { @include wrapper(6); }

  /** Header et navigation **/
  .header {
    &-title { @include column(1, 3); }
    &-navigation {
      @include column(2, 3);
      .navigation-link { @include column(1,3); }
    }
  }

  // Masquer la navigation mobile, afficher la navigation standard
  .navigation {
    display: block;
    &-mobile { display: none; }
    &-icon { display: none; }
  }

  /** Home **/
  .home-section
  {
    @include column(3);
  }

/*   .col-test {
    // 1/3 de 6 en fixe
    @include column(6/3); // ou 2
    // 1/3 en fluide
    @include column(1,3);
  }
 */
}

// Contenu principal
.page-content { @extend .wrapper; }


