---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<ul>
{% for data in site.data.exposants %}
  <li>
    {{ data.categorie }}
    <ul>
    {% for exposant in data.exposants %}
      <li>
        {% if exposant.url %}
        <a href="{{exposant.url}}"><strong>{{exposant.name}}</strong></a> - {{exposant.description}}
        {% else %}
        <strong>{{exposant.name}}</strong> - {{exposant.description}}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
