---
layout: default
---

<div class="home">

<figure>
  {{ content | split: '<!-- figure -->' | first }}
</figure>

  {{ content | split: '<!-- figure -->' | last }}

  {% include list_sections.liquid %}

  {% comment %}
    index[0] section.slug (si besoin)
    index[1] section.content
  {% endcomment %}

  {% for section_list in sections_list %}
  {% assign section = section_list | split: "|" %}
  <section id="{{ section[0] }}">
    {{ section[1] | markdownify }}
  </section>
  {% endfor %}

</div>
