---
layout: default
---


<header id="cover" class="hero-banner">

  <div class="hero-banner__content">
    {{content}}
    <p class="hero-banner__dates"><span>{{site.date}}</span></p>
  </div>

  <figure class="hero-banner__image">
    <img src="assets/images/hero-banner-2020.jpg" alt="Visule 2019 de la 24ème édition du salon fleurs et jardins">
  </figure>
</header>

<main id="main" aria-label="Content">

  <div id="content">

    <hr>

    <article>
      <h2>Le programme</h2>
      <h3>Riche en découvertes</h3>
      <p>Actualités, animations, ateliers, interventions... Retrouvez le programme jour par jour...</p>
      <a class="button" href="/le-salon/#le-programme">Découvrir</a>
    </article>

    <hr>

    <article>
      <h2>Les exposants</h2>
      <h3>140 professionnels seront présents</h3>
      <p>Tous animés par la même passion des plantes et de l’art du jardin. Retrouvez tout ceux qui seront présents pendant ces 3 journées. Parmis nos exposants vous retrouvrez des <a href="exposants/#">paysagistes</a>, ...</p>
      <a class="button" href="/exposants">Découvrez tous nos exposants</a>
    </article>

    <hr>

    <article>
      <h2>Animations</h2>
      <h3>Pour petits et grands</h3>
      <p>
        Tous les jours et durant toute la durée du Salon, de nombreuses activités
        vous sont proposé. Et il y en a pour tous les ages.
      </p>
      <a class="button" href="/le-salon/#les-animations">Voir les animations</a>
    </article>

  </div>

  <aside id="aside">
  {% for section in site.pages-sections %}
    {% for p-section in page.sections %}
    {% if section.id contains p-section %}
    <section id="section-{{ section.title | slugify: latin }}">
      {{ section.content | markdownify }}
    </section>
    {% endif %}
    {% endfor %}
  {% endfor %}
  </aside>
</main>
