---
layout: default
---

<article class="page-home">

  {% for categorie in pages.categories %}
  {{categorie.name}}<br>
  {% endfor %}
  <figure>
    {{ content | split: '<!-- figure -->' | first }}
  </figure>

  {{ content | split: '<!-- figure -->' | last }}

  {% include list_sections.liquid %}

  {% comment %}
    index[0] section.slug (si besoin)
    index[1] section.content
  {% endcomment %}

  {% for section in sections %}
  <section id="section-{{ section.title | slugify: latin}}">
    <h2>{{ section.title }}</h2>
    <h3 class="subtitle">{{ section.subtitle }}</h3>
    {{ section.content | markdownify }}
  </section>
  {% endfor %}

</article>
