---
layout: default
---
<main id="main" aria-label="Content">
  <div id="content">

    <article class="article-{{page.title | slugify: latin}} {% unless page.sections %}fullwidth{% endunless %} ">

        {{ content }}

    </article>
  </div>

  {% if page.sections %}
  <aside id="aside">
  {% for section in site.pages-sections %}
    {% for p-section in page.sections %}
    {% if section.id contains p-section %}
    <section id="section-{{ section.title | slugify: latin }}">
      {{ section.content | markdownify }}
    </section>
    {% endif %}
    {% endfor %}
  {% endfor %}
  </aside>
  {% endif %}

</main>
