---
layout: default
---
<main id="main" aria-label="Content">
  <div id="content">

    <article class="article-{{page.title | slugify: latin}} {% unless page.sections %}fullwidth{% endunless %} ">

        {{ content }}

    </article>
  </div>

  <aside id="aside">
  {% if page.anchors %}
    <section class="sub-navigation">
      <h4>Navigation</h4>
      <ul>
      {% for anchor in page.anchors %}
        <li>{{ anchor | markdownify | remove: "<p>" | remove: "</p>" }}</li>
      {% endfor %}
      </ul>
    </section>
  {% endif %}
  {% if page.sections %}
  {% for section in site.pages-sections %}
    {% for p-section in page.sections %}
    {% if section.id contains p-section %}
    <section id="section-{{ section.title | slugify: latin }}">
      {{ section.content | markdownify }}
    </section>
    {% endif %}
    {% endfor %}
  {% endfor %}
  {% endif %}
  </aside>

</main>
